<!DOCTYPE html>
<html>
    <head><title>Menu Especial</title></head>
    <style>        
            body {box-sizing: border-box;
        padding: 0%;
        margin: 0%;
        font-family: monospace;
}    
    div {  
        background-color: rgb(61, 62, 65); 
       
                  margin-bottom: 3%;
        height: 2.5pc; 
        width: 100%; 
        padding: 0%;
      
      }
      a {font-family: monospace; margin: 7%; font-size: xx-large; text-decoration: none;}
    img {float: left; width: 15%;}
    h2 {padding-left: 12%;}
    </style>
    <body>
        <div>
            <a class="ca" href="{{('/profile')}}">Volver a la cesta</a>
        </div>
        <img src="https://mcdonalds.es/api/cms/images/mcdonalds-es/7257c8e9-b7f2-4b09-8cda-fb28787bd1f3_1080x943_Men%C3%BA_SY.png?auto=compress,format">
        <h2>Incluye:</h2>
        <h2>hamburgues especial</h2>
        <h2>Nuggets</h2>
        <h2>Coca-cola 500ml</h2>
        <h2>Shake oreo</h2>
        <h2>Patatas grandes</h2>
        <h3>* Por 5€</h3>
    </body>
</html>